@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import "tailwindcss";

@theme {
    /* --color-*: initial; */
    --color-pink-light: #ee73B5;
    --color-pink: #f7b2ee;
    --color-blue: #79bbe3;
    --color-ui-purple: #7e65b7;
    --color-text: #201f21;
    --font-display: 'Ranchers', sans-serif;
}

body {
    @apply text-text text-base leading-[1.45];
}

@layer components {
    .btn {
        @apply bg-pink-800 text-white px-3 py-1 rounded border;
    }

    .btn-text {
        @apply bg-transparent px-3 py-1 text-inherit;
    }
}

::-moz-selection { /* Code for Firefox */
    @apply text-ui-purple bg-green-300;
}
  
::selection {
    @apply text-ui-purple bg-green-300;
}
